In [5]:
import pandas as pd
import statistics

In [ ]:
p =[1,1,1,1,1,1]

In [6]:
data = pd.Series(p)

In [11]:
data.std()

1.7511900715418263

In [12]:
tekst = input()
print(tekst)

sddsd

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1qUlm3ZRJ20s0BUR58MqPdSzP-ec3g0i4')

In [ ]:
df

           Date Region    Product  SalesCount
0    2022-01-03  South  Product C         716
1    2022-01-04  South  Product C        1623
2    2022-01-07  South  Product A        1159
3    2022-01-12   West  Product B         501
4    2022-01-21   East  Product B        1567
..          ...    ...        ...         ...
205  2023-12-02  North  Product A        1288
206  2023-12-19  North  Product B         798
207  2023-12-23  North  Product B        1145
208  2023-12-26  South  Product B        1072
209  2023-12-27  North  Product C        1439

[210 rows x 4 columns]

In [ ]:

df['Date'] = pd.to_datetime(df['Date'])

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
205    2023
206    2023
207    2023
208    2023
209    2023
Name: Date, Length: 210, dtype: int32

Найдите продукт, который чаще всего продавался в регионе "Запад" в 2023 году
День недели, в который было совершено больше всего продаж.
День-рекордсмен по продажам.

In [53]:
df.loc[(df['Region'] == 'West') & (df['Date'].dt.year == 2023)].groupby('Product')['SalesCount'].sum()

Product
Product A    13259
Product B    11008
Product C     7898
Name: SalesCount, dtype: int64

In [20]:
df['day_of_week'] = df['Date'].dt.day_name()

In [56]:
df

          Date Region    Product  SalesCount day_of_week
0   2022-01-03  South  Product C         716      Monday
1   2022-01-04  South  Product C        1623     Tuesday
2   2022-01-07  South  Product A        1159      Friday
3   2022-01-12   West  Product B         501   Wednesday
4   2022-01-21   East  Product B        1567      Friday
..         ...    ...        ...         ...         ...
205 2023-12-02  North  Product A        1288    Saturday
206 2023-12-19  North  Product B         798     Tuesday
207 2023-12-23  North  Product B        1145    Saturday
208 2023-12-26  South  Product B        1072     Tuesday
209 2023-12-27  North  Product C        1439   Wednesday

[210 rows x 5 columns]

In [54]:
df.groupby(by='day_of_week')['SalesCount'].sum().sort_values(ascending=False)

day_of_week
Saturday     46068
Wednesday    39978
Tuesday      39572
Sunday       37014
Thursday     36999
Monday       34027
Friday       33324
Name: SalesCount, dtype: int64

In [68]:
df.groupby('Date')['SalesCount'].first().reset_index().sort_values(by='SalesCount', ascending=False )

          Date  SalesCount
96  2023-01-13        1999
101 2023-01-27        1995
128 2023-04-16        1993
92  2022-12-27        1989
43  2022-06-10        1979
..         ...         ...
141 2023-06-06         530
103 2023-02-02         514
67  2022-09-23         512
117 2023-03-20         504
3   2022-01-12         501

[210 rows x 2 columns]

In [71]:

pd.read_excel('data.xlsx')

    ууу  dddd  ddd
0   NaN   NaN  NaN
1   NaN   NaN  NaN
2  dddd   NaN  NaN

In [81]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1HIjPFp64E3uR_RxMFUJRXodmKCbOESIY', sep=';')

In [82]:
df

,Name,Gender,Age,Wage,Occupation,City,Experience
0,Anna Ivanova,Female,28.0,3500.0,Data Scientist,Moscow,3.0
1,Boris Petrov,NaN,45.0,5000.0,Engineer,Saint Petersburg,20.0
2,Viktor Sidorov,Male,33.0,NaN,Software Developer,Novosibirsk,10.0
3,Elena Smirnova,Female,27.0,3800.0,NaN,Kazan,4.0
4,Sergey Orlov,Male,NaN,4800.0,Project Manager,Moscow,18.0
5,Maria Volkova,Female,35.0,4600.0,HR Manager,NaN,12.0
6,Ivan Kuznetsov,Male,29.0,NaN,Marketing Specialist,Samara,NaN
7,Olga Pavlova,Female,NaN,5200.0,Product Manager,Ekaterinburg,15.0
8,Dmitry Lebedev,NaN,32.0,4300.0,NaN,Moscow,9.0
9,Tatiana Vlasova,Female,NaN,3700.0,Business Analyst,NaN,8.0
10,Alexey Goncharov,Male,42.0,5100.0,NaN,Saint Petersburg,19.0
11,Nina Morozova,Female,25.0,3400.0,UX Designer,Ufa,NaN
12,Andrey Frolov,NaN,36.0,NaN,DevOps Engineer,Krasnoyarsk,14.0
13,Svetlana Bogdanova,NaN,34.0,4700.0,QA Engineer,NaN,13.0
14,Kirill Mikhailov,Male,41.0,5300.0,CTO,NaN,21.0
15,Ekaterina Borisova,NaN,30.0,4000.0,SEO Specialist,Chelyabinsk,6.0
16,Mikhail Pavlov,NaN,28.0,3900.0,Full Stack Developer,NaN,5.0
17,Yulia Efimova,NaN,26.0,3600.0,Copywriter,Moscow,3.0
18,Roman Zaitsev,Male,39.0,4900.0,NaN,Saint Petersburg,17.0
19,Polina Stepanova,NaN,33.0,4400.0,Data Engineer,NaN,10.0
20,Ilya Fedorov,Male,37.0,4600.0,NaN,Yaroslavl,16.0
21,Natalia Nikolaeva,NaN,29.0,3800.0,NaN,Irkutsk,6.0
22,Oleg Grigorev,Male,43.0,5400.0,Chief Marketing Officer,Moscow,NaN
23,Elizaveta Zueva,Female,NaN,3500.0,NaN,Saint Petersburg,4.0
24,Yuri Safonov,NaN,34.0,4700.0,IT Auditor,Kazan,NaN
25,Irina Sokolova,Female,30.0,NaN,Brand Manager,Samara,7.0
26,Maxim Prokhorov,Male,31.0,4300.0,NaN,Ekaterinburg,NaN
27,Olga Belova,Female,35.0,5000.0,Senior Accountant,NaN,11.0
28,Vladimir Egorov,Male,NaN,5100.0,Supply Chain Manager,Nizhny Novgorod,20.0
29,Alena Krylova,NaN,24.0,NaN,Junior Software Developer,Novosibirsk,1.0
30,Anton Romanov,Male,45.0,NaN,CFO,Rostov-on-Don,23.0
31,Elena Grishina,Female,33.0,4400.0,NaN,Krasnoyarsk,NaN
32,Sergey Matveev,Male,37.0,4900.0,NaN,Omsk,15.0
33,Daria Abramova,NaN,27.0,NaN,Data Visualization Specialist,NaN,4.0
34,Victor Kuzmin,Male,38.0,5100.0,NaN,Kazan,17.0
35,Anna Popova,NaN,32.0,4500.0,Scrum Master,Voronezh,9.0
36,Evgeny Karpov,NaN,41.0,NaN,VP of Engineering,NaN,21.0
37,Irina Davydova,Female,29.0,3900.0,NaN,Chelyabinsk,6.0
38,Andrey Zaitsev,NaN,36.0,4600.0,Security Analyst,Samara,NaN
39,Natalia Romanova,NaN,34.0,NaN,Operations Analyst,Moscow,11.0
40,Igor Semenov,Male,42.0,NaN,IT Director,NaN,19.0
41,Tatiana Grigorova,NaN,28.0,3400.0,NaN,Nizhny Novgorod,2.0
42,Alexandr Frolov,Male,44.0,NaN,Logistics Manager,Ekaterinburg,NaN
43,Maria Orlova,Female,26.0,3700.0,NaN,Krasnodar,NaN

In [108]:
missing_proportion = df.isna().sum().sum() / (df.shape[0] * df.shape[1])
round(missing_proportion, 2)

0.21

In [111]:
df.isnull().sum().sum()

66

In [95]:
df.shape

(44, 7)

In [112]:
66 / (44*7)

0.21428571428571427

In [101]:
df.dtypes

Name           object
Gender         object
Age           float64
Wage          float64
Occupation     object
City           object
Experience    float64
dtype: object

In [114]:
df.shape

(44, 7)

In [117]:
df2  = pd.read_csv('https://drive.google.com/uc?export=download&id=1GztFVF32hUQkzDD-kHfH37vstbvwKJwp')

In [118]:
df2

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642