In [5]:
import pandas as pd
import statistics

In [ ]:
p =[1,1,1,1,1,1]

In [6]:
data = pd.Series(p)

In [11]:
data.std()

1.7511900715418263

In [12]:
tekst = input()
print(tekst)

sddsd

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('https://drive.google.com/uc?export=download&id=1qUlm3ZRJ20s0BUR58MqPdSzP-ec3g0i4')

In [ ]:
df

           Date Region    Product  SalesCount
0    2022-01-03  South  Product C         716
1    2022-01-04  South  Product C        1623
2    2022-01-07  South  Product A        1159
3    2022-01-12   West  Product B         501
4    2022-01-21   East  Product B        1567
..          ...    ...        ...         ...
205  2023-12-02  North  Product A        1288
206  2023-12-19  North  Product B         798
207  2023-12-23  North  Product B        1145
208  2023-12-26  South  Product B        1072
209  2023-12-27  North  Product C        1439

[210 rows x 4 columns]

In [ ]:

df['Date'] = pd.to_datetime(df['Date'])

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
205    2023
206    2023
207    2023
208    2023
209    2023
Name: Date, Length: 210, dtype: int32

Найдите продукт, который чаще всего продавался в регионе "Запад" в 2023 году
День недели, в который было совершено больше всего продаж.
День-рекордсмен по продажам.

In [53]:
df.loc[(df['Region'] == 'West') & (df['Date'].dt.year == 2023)].groupby('Product')['SalesCount'].sum()

Product
Product A    13259
Product B    11008
Product C     7898
Name: SalesCount, dtype: int64

In [20]:
df['day_of_week'] = df['Date'].dt.day_name()

In [54]:
df.groupby(by='day_of_week')['SalesCount'].sum().sort_values(ascending=False)

day_of_week
Saturday     46068
Wednesday    39978
Tuesday      39572
Sunday       37014
Thursday     36999
Monday       34027
Friday       33324
Name: SalesCount, dtype: int64

In [55]:
df.groupby('Date')['SalesCount'].sort_values(ascending=False)

AttributeError: 'SeriesGroupBy' object has no attribute 'sort_values'